<body>
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 p-0">
                <div class="header-dark text-center pt-4">
                    <h5>YOUR ORDER IS CONFIRMED</h5>
                    <p>Order #1234 <br>19 April 15:36</p>
                </div>
            </div>
        </div>
        <br>
        <div class="margin-container">

            <b class="mb-2">Here's what you've ordered</b>
            <div class="card mb-3">
                <div class="media py-3">
                    <p class="align-self-center m-3">3 x</p>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-8 pl-2">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 text-right pr-4">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="media py-3">
                    <p class="align-self-center m-3">3 x</p>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-8 pl-2">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 text-right pr-4">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card card-gray">
                        <p>Total Estimate</p>
                        <p class="price">RM95.99</p>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card card-gray">
                        <p>Delivery</p>
                        <p class="price">RM10.00</p>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="header-yellow">
                        <p><b>Total</b> (incl SST)</p>
                        <b class="price">RM102.00</b>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <b class="mb-2">Your delivery address</b>
                    <p>Mandy <br> 8, Jalan 8, Taman 8, 88888 KL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg mb-5">
        <div class="row text-center">
            <div class="col-12">
                <b>Please bank info:</b>
                <p>ABC Onlee Grocer <br>
                    Maybank 1234 3344 556</p>
            </div>
            <div class="col-12 px-4">
                <div class="header-white p-3">
                    <b>SHARE YOUR PAYMENT SLIP TO</b><br>
                    <a href="https://wa.me/601118552240" class="btn btn-success mt-3"><i
                            class="fa fa-whatsapp mr-2"></i> +6011-1855 2240</a>
                </div>
            </div>
        </div>
    </div>
</body>
