
.container {
    padding-top: 1rem;

    .card-item {
        margin: 0px 15px;
        margin-bottom: 10px;
        height: 100%;

        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

            .media-body {
                width: 100%;

                .row-details {
                    display: grid;
                    grid-template-columns: 66.67% 33.33%;
    
                    .col-4 {
                        margin-left: auto;
                    }
                }
            }

        }
    }

    .row {
        .col-12 {
            position: relative;
            width: 100%;
            min-height: 1px;

            ul {
                -webkit-box-pack: center!important;
                -ms-flex-pack: center!important;
                justify-content: center!important;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding-left: 0;
                list-style: none;
                border-radius: .25rem;

                li {
                    list-style: none;
                    margin: 5px;
                }

                .page-item.disabled {
                    .page-link {
                        color: #6c757d;
                        pointer-events: none;
                        cursor: auto;
                    }
                }

                .page-link {
                    position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;

                    &:active {
                        background-color: #e9ecef;
                    }
                }
            }
        }
    }
}

.align-self-center {
    align-self: center;
}

.mr-3 {
    margin-right: 1rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}