<body>
    <div class="header-dark">
        <b>Beverages</b>
    </div>
    <div class="container pt-3">
        <div class="card-item">
            <div class="row no-gutters">
                <div class="media">
                    <a href="item-details">

                        <img src="../../assets/imgs/milo.jpg" class="align-self-center mr-3" width="20%">
                        <div class="media-body">
                            <div class="row-details">
                                <div class="col-8">
                                    <p>Nestle Milo <small>Active-Go</small></p>
    
                                </div>
                                <div class="col-4">
                                    <p>RM95.99</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-item">
            <div class="row no-gutters">
                <div class="media">
                    <a href="item-details">
                        <img src="../../assets/imgs/nescafe.jpg" class="align-self-center mr-3" width="20%">
                        <div class="media-body">
                            <div class="row-details">
                                <div class="col-8">
                                    <p>Nescafe Original <small>Active-Go</small></p>
    
                                </div>
                                <div class="col-4">
                                    <p>RM95.99</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-item">
            <div class="row no-gutters">
                <div class="media">
                    <a href="item-details">
                        <img src="../../assets/imgs/magi.jpg" class="align-self-center mr-3" width="20%">
                        <div class="media-body">
                            <div class="row-details">
                                <div class="col-8">
                                    <p>Magi <small>Active-Go</small></p>
    
                                </div>
                                <div class="col-4">
                                    <p>RM95.99</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-item">
            <div class="row no-gutters">
                <div class="media">
                    <a href="item-details">
                        <img src="../../assets/imgs/icelemontea.jpg" class="align-self-center mr-3" width="20%">
                        <div class="media-body">
                            <div class="row-details">
                                <div class="col-8">
                                    <p>Ice Lemon Tea <small>Active-Go</small></p>
    
                                </div>
                                <div class="col-4">
                                    <p>RM95.99</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contain-button">
            <div class="form-row mt-5">
                <div class="col">
                    <a href="/home" class="btn btn-outline-primary btn-block">Back</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-primary btn-block">View Cart</a>
                </div>
            </div>
        </div>
    </div>

</body>
