.container {
    
    .banner {
        margin-bottom: 1rem;
    }

    .info {
        position: relative;
        width: 100%;
        min-height: 1px;
        text-align: center;

        p {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    table {
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 1rem;
        td {
            padding: .75rem;
        }
    }
    

    .form-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        margin-right: 5px;
        margin-left: 5px;

        .col-4 {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.col-12 {
    padding-right: 15px;
    padding-left: 15px;
}

.show {
    display: table-row;
}

.show-card {
    display: grid;
}

.card-item {
    
    @media only screen and (max-width: 575px) {
        height: 155px;
    }
}