<body style="margin: 0px">

    <div class="container">
        <div class="row">
            <div class="p-0 banner">
                <img src="../../assets/imgs/banner.jpg" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="info mt-3">
                <p>
    
                    Need to re-stock your office pantry or supplies? We can deliver that to you too! HappyCorporate, a
                        service powered by HappyFresh will freshly handpicked products you need; from groceries to office
                        supplies and deliver to your office<span id="dots">...</span><span id="more"> Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Porro facilis fugiat cum laboriosam, aut quibusdam
                            repudiandae. Fugiat odio dolor nesciunt esse at libero a rem? Consequuntur praesentium illum
                            quibusdam placeat.</span> <a (click)="myFunction()" id="myBtn">more</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="p-0">
                <div class="header-dark">
                    <b>Our Products</b>
                    <a class="moreless-button-1" (click)="expandProductCategoryFunction()">see more</a>
                </div>
                <table class="table col-12 mt-2 products">
                    <tbody>
                        <tr>
                            <td><a href="#">Meat</a></td>
                            <td><a href="#">Seafood</a></td>
                            <td><a href="#">Fruits</a></td>
                            <td><a href="#">Vegetables</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Frozen</a></td>
                            <td><a href="#">Snacks</a></td>
                            <td><a href="#">Bread</a></td>
                            <td><a href="category-list">Beverages</a></td>
                        </tr>
                        <tr class="more-products">
                            <td><a href="#">Frozen</a></td>
                            <td><a href="#">Snacks</a></td>
                            <td><a href="#">Bread</a></td>
                            <td><a href="#">Beverages</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="p-0">
                <div class="header-dark">
                    <b>Featured Products</b>
                    <a class="moreless-button-2" (click)="expandFeaturedProductFunction()">see more</a>
                </div>
            </div>
        </div>
        <div class="col-12 form-row mt-3 flex-row">
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                        <img src="../../assets/imgs/milo.jpg" width="100%">
                        <span class="name">Nestle Milo <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                        <img src="../../assets/imgs/magi.jpg" width="100%">
                        <span class="name">Magi <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                        <img src="../../assets/imgs/nescafe.jpg" width="100%">
                        <span class="name">Nescafe <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                        <img src="../../assets/imgs/icelemontea.jpg" width="100%">
                        <span class="name">Ice Lemon Tea <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                        <img src="../../assets/imgs/milo.jpg" width="100%">
                        <span class="name">Nestle Milo <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="item-details">
                    <div class="card-item">
                            <img src="../../assets/imgs/magi.jpg" width="100%">
                            <span class="name">Magi <br><span class="price">RM 9,90</span></span>
                    </div>
                </a>
            </div>
        </div>
    
        <div class="more-items">
            <div class="form-row flex-row">
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/milo.jpg" width="100%">
                            <span class="name">Nestle Milo <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/magi.jpg" width="100%">
                            <span class="name">Magi <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/nescafe.jpg" width="100%">
                            <span class="name">Nescafe <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/icelemontea.jpg" width="100%">
                            <span class="name">Ice Lemon Tea <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/milo.jpg" width="100%">
                            <span class="name">Nestle Milo <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="item-details">
                        <div class="card-item">
                            <img src="../../assets/imgs/magi.jpg" width="100%">
                            <span class="name">Magi <br><span class="price">RM 9,90</span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="row py-3">
            <div class="p-0">
                <div class="header-dark">
                    <b>Service Details</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><a href="#">Cinta Ria@D</a> is now TAKE AWAY or DELIVERY for</p>
                <ul class="like-list mb-3">
                    <li><i class="fa fa-beer"></i> Fresh Soy Milk Tau Fah</li>
                    <li><i class="fa fa-percent"></i> RM2.50 RM2.50 RM2.50</li>
                    <li><i class="fa fa-thumbs-up"></i> Freshly Made in Store DAILY</li>
                    <li><i class="fa fa-thumbs-up"></i> Premium Non-GMO Soy Beans</li>
                    <li><i class="fa fa-thumbs-up"></i> No preservatives</li>
                    <li><i class="fa fa-thumbs-up"></i> No Tickener</li>
                    <li><i class="fa fa-thumbs-up"></i> No Flavouring</li>
                </ul>
                <p>Location: 78, Jalan SS22/25 Damansara Jaya, 47400 Petaling Jaya, Sel <br>
                    Call 03 77268981 or WhatsApp 0123061183 Chris <br>
                    Click here to view delivery <br>
                    menu: <a href="https://cintaria.oddle.me/en_MY/">https://cintaria.oddle.me/en_MY/</a><br>
                    Click here for FOODPANDA<br>
                    <a
                        href="http://www.foodpanda.my/restaurant/">http://www.foodpanda.my/restaurant/</a>…/cinta-ria-restoran-kafe
                    @ Cinta Ria@Dj
                </p>
            </div>
        </div>
        <div class="row">
            <div class="p-0">
                <div class="header-dark">
                    <b>Contact Details</b>
                </div>
            </div>
            <div class="col-12">
                    <ul class="contact-details mt-3">
                        <li>
                            <a href="https://wa.me/601118552240" target="_blank"><img src="../../assets/imgs/icons/whatsapp.png"> +6011 1855-22240</a>
                        </li>
                        <li>
                            <img src="../../assets/imgs/icons/map.png" alt=""> 8, Jalan 888, Taman 888, KL, Malaysia
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/imgs/icons/facebook.png"> facebook.com/abc</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/imgs/icons/instagram.png"> instagram.com/abs</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/imgs/icons/email.png"> abc@abc.com</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/imgs/icons/website.png" alt=""> wwww.abc.com</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <footer>
        <hr>
        <div class="text-center pb-5">
            <b>Powered by<img src="../../assets/imgs/logo.png" width="100"></b>
        </div>
    </footer>
</body>
