<body>
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="header-dark text-center pt-4">
                    <h5>YOUR ORDER HAS BEEN PLACED</h5>
                    <p>Order #1234 <br>19 April 15:36</p>
                </div>
            </div>
        </div>
        <br>
        <div class="margin-container">
            <b class="mb-2">Here's what you've ordered</b>
            <div class="card mb-3">
                <div class="media py-3">
                    <p class="align-self-center m-3">3 x</p>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-8 pl-2">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 text-right pr-4">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="media py-3">
                    <p class="align-self-center m-3">3x</p>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-8 pl-2">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 text-right pr-4">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="header-yellow">
                        <b>Total Estimate</b>
                        <b class="price">RM95.99</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <b class="mb-2">Your delivery address</b>
                    <p>Mandy <br> 8, Jalan 8, Taman 8, 88888 KL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg mb-5">
        <div class="row text-center">
            <div class="col-12">
                <p>We will review your order and notify you the final price and payment info via
                    Whatsapp.</p>
            </div>
            <div class="col-12 px-4">
                <div class="header-white p-3">
                    <p>Send Whatsapp Confirmation below to confirm your order and keep a order record for
                        yourself.</p>
                    <a href="order-confirmed" class="btn btn-success"><i class="fa fa-whatsapp mr-2"></i>
                        Confirm Order</a>
                </div>
            </div>
        </div>
    </div>
</body>
