.margin-container {
    margin: 0 15px;

    .card {
        .media {
            display: grid;
            grid-template-columns: 5em 1fr;

            .m-3 {
                margin: 1em;
                align-self: center;
            }

            .row {
                display: grid;
                grid-template-columns: 2fr 1fr;
                column-gap: 30px;

                .col-4 {
                    text-align: right;
                    margin-right: 15px;
                }
            }
        }
    }
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 9px 20px !important;
    font-size: 14px !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}