/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    font-family: 'Poppins', sans-serif;
}

input.form-control,
textarea.form-control {
    font-size: 14px;

    &::placeholder {
        font-size: 14px;
    }
}

label,
p,
li,
.info {
    font-size: 14px !important;
    color: black !important;
}

select.form-control {
    font-size: 14px !important;
}

table td {
    border: none !important;
}

a {
    color: #0D4E82;
    text-decoration: none !important;
    font-size: 14px;
    cursor: pointer;

    &:focus {
        text-decoration: none !important;
    }
}

b {
    display: inline-block;
    font-weight: 600;
    font-size: 16px !important;
    color: gray !important;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 5px;
}

small {
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-top: 4px;
}

h5 {
    color: #0D4E82;
    font-weight: 600 !important;
    font-size: 18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: .5rem;
}

.products {
    text-align: center;

    a {
        font-size: 14px;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    height: 100%;
    -webkit-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.17);
    box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.17);
    border-radius: 6px;
    padding: 8px;

    img {
        margin-bottom: 4px;
    }

    span {
        font-size: 14px;
        display: inline-block;
        line-height: 18px;

        &.price {
            color: #0D4E82;
            font-size: 14px;
        }
    }
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #f2f2f2;

    p {
        color: gray !important;
    }
}

.card-gray {
    padding: 15px 10px;
    padding-bottom: 0px;

    .price {
        position: absolute;
        right: 10px;
        top: 15px;
    }
}

.badge {
    border-radius: 20px;
    font-size: 10px;
    font-weight: 300;
    padding: 4px;
}

.like-list .fa {
    color: orange;
    width: 30px;
}

.edit-sm {
    font-size: 12px;
}

.header {
    background-color: #0D4E82;
    color: white;
    padding: 4px 10px;
    font-size: 14px;
}

.header-dark {
    background-color: #f2f2f2;
    padding: 6px 10px;

    a {
        right: 10px;
        top: 8px;
        float: right;
    }
}

.contact-details {
    margin-top: 1em;
    li {
        line-height: 40px;

        a {
            font-size: 14px;
            color: black;
        }
    }

    img {
        width: 26px;
        margin-right: 14px;
        vertical-align: middle;
    }

}

.gray-bg {
    background-color: #f2f2f2;
    padding: 20px 10px;
}

.header-yellow {
    background-color: #fffbe9;
    padding: 10px 10px;
    position: relative;

    .price {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    p {
        font-weight: 500;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    b {
        color: black !important;
    }
}

.header-white {
    background-color: white;
    padding: 10px;
}

.pagination {
    a {
        color: #0D4E82;
    }
}

.fixed-bottom {
    background-color: white;
    padding-bottom: 30px !important;
}


.number-incrementer {
    text-align: center;

    .btn {
        padding-left: 0px !important;
        padding-right: 0px !important;

        &.disabled,
        &:disabled,
        &[disabled] {
            color: #212529 !important;
            background: #adb5bd !important;
            border-color: #adb5bd !important;
            pointer-events: inherit;
            opacity: .5;
        }

        .fas {
            color: gray;
        }
    }

    [class^="icon-"],
    [class*=" icon-"] {
        vertical-align: text-top;
    }

    .btn-default {
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            color: gray;
            background-color: transparent;
            border-color: gray;
            box-shadow: none;
            outline: none;
        }
    }

    label.input-stepper {

        input {
            display: inline-block;
            background-color: transparent;
            border: none;
            box-shadow: none;
        }

        input {
            margin-bottom: 0;
        }

        a {
            border-radius: 0px;
            background-color: white;
            border: 2px solid lightgray;
            height: 32px;
            width: 32px;
            overflow: hidden;
            position: relative;

            .fas {
                font-size: 16px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    #spinner {
        width: 3em;
        text-align: center;
    }
}

#more,
.more-products,
.more-items {
    display: none;
}

footer {
    div {
        text-align: center;
        padding-bottom: 3rem;
    }
    img {
        margin-top: -4px;
        vertical-align: middle;
    }
}


body {
    margin: 0px
}

.container {
    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media only screen and (min-width: 768px) {
        max-width: 720px;
    } 
    @media only screen and (min-width: 992px) {
        max-width: 960px;
    } 
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: 575px) {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.mt-3 {
    margin-top: 1em;
}

.mb-3 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: .5em;
}

.mb-5 {
    margin-bottom: 3em;
}

.p-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.mr-2 {
    margin-right: .5em;
}

.py-3 {
    margin-bottom: 1rem!important;
    margin-top: 1.5rem!important;
}

.pt-4 {
    padding-top: 1.5rem!important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.contain-button {
    margin-left: 15px;
    margin-right: 15px;

    .my-5 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .form-row {
        display: flex;

        .col {
            width: 49%;
            &:last-child {
                margin-left: auto;
            }
        }

        .btn-primary {
            color: #fff;
            background-color: #0D4E82 !important;
            border-color: #0D4E82 !important;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn-outline-primary {
            color: #007bff;
            background-color: transparent;
            background-image: none;
            border-color: #007bff;
        }
        .btn-block {
            display: block;
        }

        .btn {
            padding: 9px 20px !important;
            font-size: 14px !important;
        }
        .btn-outline-primary {
            color: #0D4E82;
            background-color: transparent !important;
            border-color: #0D4E82 !important;
        }
    }
}

.text-center {
    text-align: center;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 1rem;
}