
.card-item {
    margin: 0 15px;
    margin-bottom: 1rem;
    .media {
        display: flex;
    
        .m-3 {
            margin: 1rem;
            align-self: center;
            width: 4rem;
        }
    
        .media-body {
            .form-row {
                display: grid;
                grid-template-columns: 25% 41.67% calc(33.33% - 3em);
                column-gap: 15px;
    
                .col-4 {
                    text-align: end;
                }
                .col-3 {
                    text-align: center;
                }
            }
        }
    }
}

.estimate {
    margin: 0 15px;
}

.form {
    margin: 0 15px;
    .form-group {
        margin-bottom: 1rem;

        .form-control {
            box-sizing: border-box;
        }
    }
}