
<body>
    <div class="header-dark">
        <b>Order Summary</b>
    </div>
    <div class="container py-3">

        <div class="card-item mb-3 p-2">
            <div class="row no-gutters">
                <div class="media">
                    <p class="align-self-center m-3">3 x</p>
                    <div class="media-body">
                        <div class="form-row">
                            <div class="col-3 p-0 pl-2 text-center">
                                <img src="../../assets/imgs/milo.jpg" width="100%">
                                <a href="#" class="edit-sm">Edit</a>
                            </div>
                            <div class="col-5">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 pr-2 text-right">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-item mb-3 p-2">
            <div class="row no-gutters">
                <div class="media">
                    <p class="align-self-center m-3">1 x</p>
                    <div class="media-body">
                        <div class="form-row">
                            <div class="col-3 p-0 pl-2 text-center">
                                <img src="../../assets/imgs/milo.jpg" width="100%">
                                <a href="#" class="edit-sm">Edit</a>
                            </div>
                            <div class="col-5">
                                <p>Nestle Milo <small>Active-Go pack of 3 pack of 3</small></p>
                            </div>
                            <div class="col-4 pr-2 text-right">
                                <p>RM95.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row estimate">
            <div class="col-12 mb-3">
                <div class="header-yellow">
                    <p>Total Estimate</p>
                    <p class="price">RM95.99</p>
                </div>
            </div>
            <div class="col-12">
                <small>The total amount is not final and maybe re-adjusted for delivery charges, or any other additional
                    charges
                    by the seller. Sales Tax is is not included.</small>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="header-dark mb-3">
                    <b>Delivery Details</b>
                </div>
            </div>
            <div class="col-12 form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name/ Company Name">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Your Mobile No (+601)">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Delivery Address"></textarea>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email">
                </div>
            </div>
        </div>
        <div class="contain-button">
            <div class="form-row my-5">
                <div class="col">
                    <a href="home" class="btn btn-outline-primary btn-block">Cancel</a>
                </div>
                <div class="col">
                    <a href="order-placed" class="btn btn-primary btn-block">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</body>
