<body>
    <div class="header-dark">
        <b>Beverages</b>
    </div>
    <div class="container py-3">
        <div class="card-item mb-3 p-3">
            <img src="../../assets/imgs/milo.jpg" width="100%">
            <div class="row mt-2">
                <div class="col-8">
                    <p>Nestle Milo</p>
                    <select class="form-control my-2">
                        <option value="" selected>Select size</option>
                        <option value="">XL Pack</option>
                        <option value="">L Pack</option>
                        <option value="">M Pack</option>
                        <option value="">S Pack</option>
                    </select>
                    <small>Activ-Go <br>Pack of 3 x 3</small>
                </div>
                <div class="col-4 text-right">
                    <p>RM95.99</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Special Remarks <span class="text-muted">(optional)</span></label>
            <textarea class="form-control" rows="3" placeholder="1 x Milo low sugar &#10;1 x Milo no sugar"></textarea>
        </div>
        <div class="number-incrementer" [formGroup]="inputForm">
            <label class="input-stepper">
                <div class="btn btn-default btn-minus" (click)="minusOne()">
                    <i class="fa fa-minus"></i>
                </div>
                <input type="text" id="spinner" class="text-strong form-control input-number text-center"
                    formControlName="inputValue" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                    <div class="btn btn-default btn-plus" (click)="addOne()">
                        <i class="fa fa-plus"></i>
                    </div>
            </label>
        </div>
        <div class="contain-button">
            <div class="form-row my-5">
                <div class="col">
                    <a href="category-list" class="btn btn-outline-primary btn-block">Back</a>
                </div>
                <div class="col">
                    <a href="order-summary" class="btn btn-primary btn-block">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</body>

