.container {

    .card-item {
        margin: 0px 15px;
        margin-bottom: 10px;
        height: 100%;

        @media only screen and (min-width: 576px) {
            display: grid;
            grid-template-columns: 250px auto;
            column-gap: 25px;

            img {
                width: 250px;
            }
        }

        .row {
            display: flex;

            .col-8 {
                width: 66.67%;

                .my-2 {
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
            }
            .col-4 {
                width: 33.33%;
                text-align: right;
            }
        }
    }

    .form-group {
        margin: 0px 15px;
        margin-bottom: 1rem;

        label {
            display: inline-block;
            margin-bottom: .5rem;
            .text-muted {
                color: #6c757d!important;
            }
        }

        .form-control {
            box-sizing: border-box;
        }
    }

    .p-3 {
        padding: 1rem!important;
    }
}



.input-stepper {
    display: inline-flex;
    margin: 0 auto;
    .btn {
        border-radius: 0px;
        background-color: white;
        border: 2px solid lightgray;
        color: gray;
        height: 32px;
        width: 32px;
        overflow: hidden;
        position: relative;
        font-family: 'FontAwesome';

        
        &:disabled {
            color: #212529 !important;
            background: #adb5bd !important;
            border-color: #adb5bd !important;
            pointer-events: inherit;
            opacity: .5;
        }

        &:hover,
        &:active,
        &:focus {
            color: gray;
            background-color: transparent;
            border-color: gray;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }

        i {
            font-size: 16px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .input-number {
            text-align: center!important;
            width: 40px!important;
        }
    }
}